<div class="correct-questions text-gray-900 dark:text-white">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-4">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-2">Question</th>
          <th scope="col" class="px-6 py-2">Answer</th>
        </tr>
      </thead>
      <tbody>
        @for (answer of answers(); track $index) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td class="px-6 py-2">{{ answer.question }}</td>
          <td class="px-6 py-2">
            @if(answer.questionAnswer) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="text-green-500 w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 12.75 6 6 9-13.5"
              />
            </svg>
            } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="text-pink-500 w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<h2 class="text-gray-900 dark:text-white mb-5">
  You guess {{ score() }} out of {{ questions().length }}
</h2>

<button
  (click)="playAgain()"
  class="rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
>
  Play again
</button>
