<div class="flex h-full items-center justify-center flex-col">
  @if (hasHighscore) {
  <a
    [routerLink]="['/', 'high-score']"
    class="bg-transparent mb-7 hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
  >
    High score
  </a>
  }

  <h1 class="text-gray-900 dark:text-white mb-7 text-xl font-semibold">
    Choose your settings:
  </h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
      <label
        for="number-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Number of Questions:</label
      >
      <input
        type="number"
        id="number-input"
        formControlName="amount"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="10"
      />
      @if (form.get('amount')?.errors) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        Number should be between 10 and 50
      </p>
      }
    </fieldset>
    <fieldset class="my-5">
      <label
        for="category"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Select category:</label
      >
      <select
        id="category"
        formControlName="category"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        @for (category of categories; track $index) {
        <option [value]="category.key">{{ category.value }}</option>
        }
      </select>
    </fieldset>

    <fieldset>
      <label
        for="difficulty"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Select Difficulty:</label
      >
      <select
        id="difficulty"
        formControlName="difficulty"
        class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        @for (d of difficulty; track $index) {
        <option [value]="d.key">{{ d.value }}</option>
        }
      </select>
    </fieldset>
    <button
      type="submit"
      [disabled]="form.invalid"
      [class.cursor-not-allowed]="form.invalid"
      class="rounded-md bg-indigo-600 w-full px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Submit
    </button>
  </form>
</div>
